:root {
  --primary-color: #CC998D;
  --secondary-color: #429EA6;
  --accent-color: #153B50;
  --background-color: #ECEBE4;
}

/* Global */
body {
  background-color: var(--background-color);
  margin: 0 auto;
}
ul {
  display: flex;
  gap: 30px;
  text-align: center;
  margin: 0 auto;
  margin-left: -40px;
  font-size: 25px;
  list-style: none;
}

/* Header */
header {
  background-color: var(--accent-color);
  margin-top: -48px; /* adds small bar above header bar*/
  margin-left: -25px;
}
header h1 {
  font-size: 70px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: -10px; /* makes nav bar and title look tight*/
}
header ul {
  justify-content: center;
}
ul li {
  padding: 20px;
}
ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #a7a7a7;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}
main div {
  display: flex;
  justify-content: center;
  margin-bottom: 25px; /* This line is for multiple schools needing spacing under it*/
}
main div h2 {
  font-size: 35px;
  color: white;
}
.title {
  background-color: var(--accent-color);
  border-radius: 10px;
  margin: 20px 100px 20px 100px;
  font-family: "Alumni Sans SC";
}
section {
  padding: 20px;
  border-radius: 8px;
}
.splash {
  margin: 0 130px 0 130px;
}
.bio {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
h3 {
  font-size: 30px;
  padding: 0 40px 0 40px;
}
p {
  font-size: 18px;
  padding: 0 40px 0 40px;
  line-height: 1.5;
}
img {
  height: 350px;
  border-radius: 8px;
}
.school {
  height: 215px;
}
.solo {
  flex-direction: column;
}
.solo > section {
  background-color: white;
  margin: 0px 300px 20px 300px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
#skills {
  display: flex;
  flex-wrap: wrap; /* allows items to wrap to the next line */
  margin-left: 30px;
  margin-right: 30px;
  gap: 12px;
  justify-content: center;
}
#skills > section {
  background-color: white;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1); /*makes the boxes pop a bit*/
}


/* Footer */
footer {
  background-color: var(--accent-color);
  margin-top: 20px;
}
.social img {
  height: 50px;
}
.social img:hover {
  opacity: 60%;
}
footer ul {
  justify-content: space-between;
}
footer ul section {
  display: flex;
}

/* Breakpoints for Small Screens */
@media (max-width: 1200px) {
  h3 {
    font-size: 24px;
  }
  main p {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  header {
    margin-top: -28px;
    margin-left: 0px;
  }
  header h1 {
    font-size: 40px;
    margin-bottom: 5px;
  }
  header ul {
    flex-direction: column;
  }
  ul {
    gap: 5px;
    font-size: 18px;
  }
  ul li {
    padding: 5px;
  }
  main {
    flex-direction: column;
    text-align: center;
    padding: 5px;
  }
  main div {
    flex-direction: column;
    margin-bottom: 0px; /* The schools no longer need extra spacing under it*/
  }
  main div h2 {
    font-size: 25px;
  }
  section {
    padding: 7px;
  }
  #title {
    margin: 10px 50px 10px 50px;
  }
  .bio { /*makes smaller screen bios have some spacing*/
    margin-left: 20px;
    margin-right: 20px;
  }
  main p {
    font-size: 18px;
    padding: 0 10px 0 10px;
  }
  main img {
    height: 300px;
  }
  .splash {
    margin: 0 10px 0 10px;
  }
  .school {
    display: none;
  }
  .solo > section {
    margin: 0px 20px 20px 20px;
  }
  #skills {
    flex-direction: row;
  }
  .social img {
    height: 40px;
  }
  footer section {
    gap: 15px;
  }
}